<div class="tab-bar-wrap showtabbar" data-v-66175f60="" data-v-1dbc0f80="">
					<div class="fixed-placeholder" data-v-66175f60="">&nbsp;</div>
					<div class="tab-bar fs10" data-v-66175f60="">
						<div class="inner-wrap" data-v-66175f60="">
						    
						    
							<a href="{:url('index/index/index')}" class="tab-item" data-v-66175f60="">
								<div class="el-image icon gm-image icon" data-v-66175f60=""><img
										src="https://oss.resourceoss.com/game001/loan/16400a38f22950.png"
										class="el-image__inner" style="object-fit: cover;"><!--v-if--><!--v-if--></div>
								<p data-v-66175f60="">Jogos</p>
							</a>
							
							
							<a href="{:url('index/index/invitereward')}" class="tab-item" data-v-66175f60="">
								<div class="el-image icon gm-image icon" data-v-66175f60=""><img
										src="https://oss.resourceoss.com/game001/loan/86400ab49b757f.png"
										class="el-image__inner" style="object-fit: cover;"><!--v-if--><!--v-if--></div>
								<p data-v-66175f60="">Convidar</p>
							</a>
							
							<!--<a href="/activity" class="tab-item" data-v-66175f60="">-->
							<!--	<div class="icon-wrap" data-v-66175f60="">-->
							<!--		<div class="el-image icon gm-image icon" data-v-66175f60=""><img-->
							<!--				src="https://oss.resourceoss.com/game001/loan/76400aae7cad19.png"-->
							<!--				class="el-image__inner" style="object-fit: cover;"><!--v-if--><!--v-if-->
							<!--		</div>-->
							<!--	</div>-->
							<!--	<p data-v-66175f60="">Bônus</p>-->
							<!--</a>-->
							
							<a href="{:url('index/index/chat')}" class="tab-item" data-v-66175f60="">
								<div class="el-image icon gm-image icon" data-v-66175f60=""><img
										src="https://oss.resourceoss.com/game001/loan/36400aaba50627.png"
										class="el-image__inner" style="object-fit: cover;"><!--v-if--><!--v-if--></div>
								<p data-v-66175f60="">Consultar</p>
							</a>
							
							<a href="{:url('index/index/my')}" class="router-link-active router-link-exact-active tab-item active"
								data-v-66175f60="" aria-current="page">
								<div class="el-image icon gm-image icon" data-v-66175f60=""><img
										src="https://oss.resourceoss.com/game001/loan/36400ab2228bc0.png"
										class="el-image__inner" style="object-fit: cover;"><!--v-if--><!--v-if--></div>
								<p data-v-66175f60="">Minha</p>
							</a>
						</div>
					</div>
				</div>