<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="{$row.name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Image')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-image" data-rule="required" class="form-control" size="50" name="row[image]" type="text" value="{$row.image|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-image" class="btn btn-danger faupload" data-input-id="c-image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp,image/webp" data-multiple="false" data-preview-id="p-image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-image" class="btn btn-primary fachoose" data-input-id="c-image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-image"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-image"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Running_water')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-running_water" data-rule="required" class="form-control" step="0.01" name="row[running_water]" type="number" value="{$row.running_water|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Running_money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-running_money" data-rule="required" class="form-control" step="0.01" name="row[running_money]" type="number" value="{$row.running_money|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Withdraw')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-withdraw" data-rule="required" class="form-control" step="0.01" name="row[withdraw]" type="number" value="{$row.withdraw|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Day_withdraw')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-day_withdraw" data-rule="required" class="form-control" name="row[day_withdraw]" type="number" value="{$row.day_withdraw|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Withdraw_limt')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-withdraw_limt" data-rule="required" class="form-control" step="0.01" name="row[withdraw_limt]" type="number" value="{$row.withdraw_limt|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Week')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-week" data-rule="required" class="form-control" step="0.01" name="row[week]" type="number" value="{$row.week|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Moon')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-moon" data-rule="required" class="form-control" step="0.01" name="row[moon]" type="number" value="{$row.moon|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Vip_up')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-vip_up" data-rule="required" class="form-control" step="0.01" name="row[vip_up]" type="number" value="{$row.vip_up|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Single_withdraw')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-single_withdraw" data-rule="required" class="form-control" step="0.01" name="row[single_withdraw]" type="number" value="{$row.single_withdraw|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Level')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-level" data-rule="required" class="form-control" name="row[level]" type="number" value="{$row.level|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
